
.container-fluid {
	margin: 0;
	border: 0;
	padding: 0;

	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BARRA LATERAL DE NAVEGACIÓ */

#myScrollspy {
	position: fixed;
	width: 5%;
	right: 0;
	z-index: 10;
}

#myScrollspy a {
	color: white;
	text-decoration: overline;
	font-weight: bold;
}
/*
#myScrollspy a:hover{

}*/
ul.navbar-nav {	
	writing-mode: vertical-lr;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* PANTALLA QUE MOSTRA L'SCROLL ACTUAL */

#contingut{
	width: 100%;
	z-index: 0;
	margin: auto;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* CAPÇALERA DELS SCROLLS 1,2..  - INCLOU LES IMATGES DE DIGITAL PULSE I SEIDOR, I EL VÍDEO DEL POLS */

#bodyHeader .digitalPulseIMG {
	position: absolute;
}

#bodyHeader .seidorIMG {
	position: absolute;
	left: 113px; /* 206px - 93px */
	top: 52px;
}

#bodyHeader .pulseIMG {
	position: absolute;
	right: 50%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* SCROLL 2 - LLETRES  P U L S E */

#seccio_digital_pulse {
	height: 100vh;
	position: relative;
	background-color: #00153b;
	color: white;
}

#lletresPulse {
	padding-top: 25vh;
	padding-left: 20vw;
}

#lletresPulse div {
	display: inline;
	padding-left: 30px;
	position: relative;
}

#lletresPulse .lletra{
	font-size: 10em;
	color: rgb(5, 29, 65);
}

#lletresPulse .textLletra {
	position: absolute;
	right:13px;
	bottom: 50px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* SCROLL 2 - CADA UN DELS DIVS ON MOSTREM LA INFO DE LES LLETRES */

#stripe_lletra_P, #infoScroll2U, #infoScroll2L, #infoScroll2S, #infoScroll2E {
	
	visibility: hidden;

	position: absolute;

	width: 100%;
	height: 30vh;
	background-color: #2f5d8f;
	border: 2px solid #41719c;
}

.stripe_titol1 {
	width: 70%;
	margin: auto;
	padding-top: 20px;
	font-size: 2.5em;
	font-weight: bold;

}

.stripe_titol2 {
	width: 70%;
	margin: auto;
	font-size: 1.5em;
}

.stripe_continguts {
	padding-top: 2em;
	width: 50%;
	margin: auto;
}

.stripe_contingut1 {
	width: 25%;
	float: left;
	display: inline;
	margin-right: 75px;
}

.stripe_contingut2 {
	width: 25%;
	display: inline;
}

.stripe_text1 {
	font-size: 1.2em;
	font-weight: bold;
}

#stripe_lletra_P img {
	padding-left: 10px;
}



/** parallax */
.parallax-window {
    min-height: 400px;
    background: transparent;
}

/** video */
.content-media--video {
   background-color: #ddd;
   display: block;
   position: relative;
   padding: 0 0 56.25% 0;
}

.content-media--video iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





#featured-video {
  transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
}
/** Use .sticky */
#featured-video.is-sticky {
  position: fixed;
  top: 15px;
  left: auto;
  max-width: 280px;
  max-height: 158px;
  width: 280px;
  height: 158px;
}
@media screen and (min-width: 1120px) {
   #featured-video.is-sticky {
      transform: translateX(-80%);
   }
}
@media screen and (min-width: 1300px) {
   #featured-video.is-sticky {
      transform: translateX(-115%);
   }
}

